* {margin:0;padding:0;}
body {
background-attachment:fixed; /*фиксация фона*/
background-size: cover; /*фон на всю страницу*/
background-repeat: no-repeat; 
display: flex;
justify-content: center;
font-family:'Arial';
line-height: 24px;
}




